<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sample.mapper.Qr_codeMapper">

    <!-- 开启二级缓存 -->
    <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache"/> -->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sample.entity.Qr_code">
        <id column="QR_id" property="QR_id" />
        <result column="QR_name" property="QR_name" />
        <result column="QR_url" property="QR_url" />
        <result column="QR_creation" property="QR_creation" />
        <result column="QR_lastupdated" property="QR_lastupdated" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        QR_id, QR_name, QR_url, QR_creation, QR_lastupdated
    </sql>
    
    <!-- 二维码条件查询 -->
     <select id="selectQuery" parameterType="com.sample.entity.Qr_code" resultMap="BaseResultMap">
    	select <include refid="Base_Column_List"/> from qr_code
    	where 1 
    	<if test="QR_id!=null">and QR_id=#{QR_id}</if>
		<if test="QR_name!=null">and QR_name like concat('%',#{QR_name},'%')</if>
		<if test="QR_creation!=null">and datediff(QR_creation,#{QR_creation})=0</if>
    </select>
    
      <!-- 二维码添加接口 -->
    <insert id="insert" parameterType="com.sample.entity.Qr_code">
    	insert into qr_code values(null,#{QR_name},#{QR_url},now(),now()) 
    </insert>
    
    <!-- 二维码删除接口 -->
    <delete id="delete" parameterType="com.sample.entity.Qr_code">
    	delete from qr_code where wk_id=#{wk_id}
    </delete>
    
    <!-- 二维码修改接口 -->
    <update id="update" parameterType="com.sample.entity.Qr_code">
    	update qr_code set
    	<if test="QR_name!=null">QR_name=#{QR_name},</if>
    	<if test="QR_url!=null">QR_url=#{QR_url},</if>
    	QR_lastupdated=now()
    	where QR_id=#{QR_id}
    </update>

</mapper>
